---
import GroupMaker from "./GroupMaker.astro";
---

<div class="carousel">
  <GroupMaker group="Navbars" elements={ await Astro.glob("./custom/navbars/*.astro") }/>
  <GroupMaker group="Heros" elements={ await Astro.glob("./custom/heros/*.astro") }/>
  <GroupMaker group="Footers" elements={ await Astro.glob("./custom/footers/*.astro") }/>
</div>

<style>
  .carousel {
    overflow-y: scroll;
    flex: 1;
    width: 100%;
  }

  .carousel::-webkit-scrollbar {
    height: 10px;
    width: 10px;
  }
  .carousel::-webkit-scrollbar-track {
    border-radius: 5px;
    background-color: var(--dark);
  }

  .carousel::-webkit-scrollbar-thumb {
    border-radius: 5px;
    background-color: var(--body);
    transition: all .2s;
  }
</style>